{
  "env": {
    "node": true
  },
  "globals": {
    "should"
  },
  "rules": {
    "no-unused-expressions": "off",
    "handle-callback-err": "off",
    "no-unused-vars": "off",
    "no-invalid-this": "off",
    "no-empty-function": "off",
    "prefer-rest-params": "off",
    "no-sync": "off",
    "no-process-env": "off",
    "no-console": "off"
  }
}
