npm-debug.log

.DS_Store
.idea
.settings/

*.log
*.heapsnapshot
*.sock
.coverrun
.coverdata
dump.rdb
xunit.xml

logs/*
reports/*
tmp/*

benchmark/
examples/safe_json.js
examples/expander
test/
coverage/
.istanbul.yml
.travis.yml
.eslintrc.js
.eslintignore
.nyc_output/
crockford.jscsrc
Makefile
TODO
