npm-debug.log

.DS_Store
.idea
.settings/

*.log
*.heapsnapshot
*.sock
.coverrun
.coverdata
dump.rdb
xunit.xml

logs/*
reports/*
tmp/*

benchmark/
examples/
test/
.istanbul.yml
.travis.yml
.eslintrc.js
.eslintignore
crockford.jscsrc
Makefile
TODO
