language: node_js

node_js:
  - "0.12"
  - "0.10"
  - "iojs"

before_script:
  - mkdir -p gnatsd
  - wget https://github.com/nats-io/gnatsd/releases/download/v0.6.0/gnatsd-v0.6.0-linux-amd64.tar.gz -qO - | tar -zxvC gnatsd/
  - sudo ln -s "$(pwd)/gnatsd/gnatsd" /usr/local/bin/gnatsd