language: node_js
sudo: false

node_js:
  - "10"
  - "11"

git:
  depth: false

env:
  - NATS_VERSION=v1.3.0

before_script:
  - wget "https://github.com/nats-io/gnatsd/releases/download/$NATS_VERSION/gnatsd-$NATS_VERSION-linux-amd64.zip" -O tmp.zip
  - unzip tmp.zip
  - mv gnatsd-$NATS_VERSION-linux-amd64 gnatsd

script:
  - if [[ "$TRAVIS_NODE_VERSION" == 6 ]]; then npm test; fi
  - if [[ "$TRAVIS_NODE_VERSION" == 8 ]]; then npm test; fi
  - if [[ "$TRAVIS_NODE_VERSION" == 10 ]]; then npm run coveralls; fi